/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 31 mai 2014, 17:29:25
    Author     : Emanuel Marques
*/

body
{
    text-align: center;
    background-repeat: no-repeat; 
    color: purple
}
p 
{
    text-align: center;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    padding:0px;
    margin-left : 0px ;
}
p#grid
{
    text-align: center;
    font-family: sans-serif;
    font-size: 55px;
    font-weight: 100;
    font-stretch: ultra-expanded;
    padding:0px;
    margin-left:0; 
    margin-right:0;
}
table
{
    border: 0px;
    border-collapse: collapse;
    height: 280px;
    width: 210px;
    margin-left: auto; 
    margin-right: auto
}
th
{
    padding: 0px;
    width: 100%;
    height: 25%;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
}
td#green
{
    width: 33%;
    height: 25%;
    border: 3px solid white;
    text-align: center; 
    vertical-align: middle;
    padding: 0px;
    background-color: green;
    color: white;
}
td#pink
{
    width: 33%;
    height: 25%;
    border: 3px solid white;
    text-align: center; 
    vertical-align: middle;
    padding: 0px;
    background-color: pink;
    color: white;
}
input 
{
    background: green;
    border: green;
    width: 100%;
    height: 100%;
    color: green; 
    background-color: green; 
    border-color: green; 
    cursor: default;
}
input#TheButton
{
    margin-left: auto; 
    margin-right: auto;
    display: block;
    width: 200px;
    height: 35px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: purple;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    -webkit-border-radius: 50px; 
    -moz-border-radius: 50px; 
    -o-border-radius: 50px; 
    -khtml-border-radius: 50px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    //float: left;
    padding: 0 10px;
    background: #E5E5E5;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#F9F9F9');
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#F9F9F9)); 
    background: -moz-linear-gradient(top,  #F0F0F0,  #F9F9F9); 
    -webkit-box-shadow: inset 0px 1px 1px #9A9A9A;
    -moz-box-shadow: inset 0px 1px 1px #9A9A9A;
    -o-box-shadow: inset 0px 1px 1px #9A9A9A;
    -khtml-box-shadow: inset 0px 1px 1px #9A9A9A;
    box-shadow: inset 0px 1px 1px #9A9A9A;
}
